<div>
insert graphs and dashboard stuff here <h1>{{ data.text }}</h1>

<div class="main-content">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="title">Blood Sugar</span>
        </div>
        <div class="panel-body">
          <div id="line-chart" style="height: 250px;"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="title">Carbohydrates Intake</span>
        </div>
        <div class="panel-body">
          <div id="bar-chart" style="height: 250px;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="title">Insulin Intake</span>
        </div>
        <div class="panel-body">
          <div id="bar-chart-2" style="height: 250px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    App.init();
    App.chartsMorris();
  });
</script>


<style>
/*
    Custom CSS
*/
.morris-hover{
	position:absolute;z-index:1000;
}
.morris-hover.morris-default-style{
	border-radius:10px;
	padding:6px;color:#666;
	background:rgba(255, 255, 255, 0.8);
	border:solid 2px rgba(230, 230, 230, 0.8);
	font-family:sans-serif;
	font-size:12px;
	text-align:center;
}
.morris-hover.morris-default-style .morris-hover-row-label{
	font-weight:bold;margin:0.25em 0;
}
.morris-hover.morris-default-style .morris-hover-point{
	white-space:nowrap;margin:0.1em 0;
}

</style>
