<div>
<div class="row">
            <div class="col-sm-12">
              <div class="widget widget-fullwidth widget-small">
                <div class="widget-head">
                  <div class="title">Meals</div>
                </div>
                <table id="table1" class="table table-striped table-hover table-fw-widget">
                <div class="col-sm-6"><div id="table1_length" class="dataTables_length"></div></div><div class="col-sm-6"><div class="dataTables_filter" id="table1_filter"><label style="float:right;">Search:
                <input class="form-control input-sm" style="padding:0;" type="search"></label></div></div>
                  <thead>
                    <tr>
                      <th>Time</th>
                      <th>Food</th>
                      <th>Servings</th>
                      <th>Calories</th>
                      <th>Fat</th>
                      <th>Cholesterol</th>
                      <th>Sodium</th>
                      <th>Carbs</th>
                      <th>Fibre</th>
                      <th>Sugar</th>
                      <th>Protein</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Trident</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Trident</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
</div>
<div class="row">
            <div class="col-sm-12">
              <div class="widget widget-fullwidth widget-small">
                <div class="widget-head">
                  <div class="title">Blood Sugar Level</div>
                </div>
                <table id="table1" class="table table-striped table-hover table-fw-widget">
                <div class="col-sm-6"><div id="table2_length" class="dataTables_length"></div></div><div class="col-sm-6"><div class="dataTables_filter" id="table2_filter"><label style="float:right;">Search:
                <input class="form-control input-sm" style="padding:0;" type="search"></label></div></div>
                  <thead>
                    <tr>
                      <th>Time</th>
                      <th>Blood Sugar Level</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Trident</td>
                      <td>
                        Internet
                        Explorer 4.0
                      </td>
                    </tr>
                    <tr>
                      <td>Trident</td>
                      <td>
                        Internet
                        Explorer 5.0
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
</div>
<div class="row">
            <div class="col-sm-12">
              <div class="widget widget-fullwidth widget-small">
                <div class="widget-head">
                  <div class="title">Insulin Intake</div>
                </div>
                <table id="table1" class="table table-striped table-hover table-fw-widget">
                <div class="col-sm-6"><div id="table2_length" class="dataTables_length"></div></div><div class="col-sm-6"><div class="dataTables_filter" id="table2_filter"><label style="float:right;">Search:
                <input class="form-control input-sm" style="padding:0;" type="search"></label></div></div>
                  <thead>
                    <tr>
                      <th>Time</th>
                      <th>Intake</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Trident</td>
                      <td>
                        Internet
                        Explorer 4.0
                      </td>
                    </tr>
                    <tr>
                      <td>Trident</td>
                      <td>
                        Internet
                        Explorer 5.0
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
</div>
</div>