<div>
<div class="row">
            <div class="col-sm-12">
              <div class="widget widget-fullwidth widget-small">
                <div class="widget-head">
                  <div class="title">Meal Search</div>
                </div>
                <table id="table1" class="table table-striped table-hover table-fw-widget">
                <div class="col-sm-6"><div id="table2_length" class="dataTables_length"></div></div><div class="col-sm-12"><div class="dataTables_filter" id="table2_filter"><label>
                <input class="form-control input-sm" style="padding:0;" type="search" ng-model="search"></label></div></div>
                  <thead>
                  </thead>
                  <tbody>
	                    <tr ng-repeat="rows in searchResults" ng-click="foodSelected(rows)">
	                    <td>{{ rows.id }}</td>
	                    <td>{{ rows.name }}</td>
	                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
</div>
</div>
