<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Record Blood Sugar Levels</h3>
      </div>
      <div class="panel-body">
        <form role="form" class="form-horizontal">
          <div class="form-group">
            <label for="bloodSugarLevel" class="col-sm-3 control-label">Blood Sugar (in units)</label>
            <div class="col-sm-3">
              <input id="bloodSugarLevel" class="form-control">
            </div>
            <label for="bloodSugarLevelTime" class="col-sm-3 control-label">Time recorded</label>
            <div class="col-sm-3">
              <select id="bloodSugarLevelTime" class="form-control">

              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="spacer text-right">
                <button type="submit" class="btn btn-space btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Record Insulin Intake</h3>
      </div>
      <div class="panel-body">
        <form role="form" class="form-horizontal">
          <div class="form-group">
            <label for="bloodSugarLevel" class="col-sm-3 control-label">Insulin Units (in mmol/L)</label>
            <div class="col-sm-3">
              <input id="insulinSugarLevel" class="form-control">
            </div>
            <label for="insulinLevelTime" class="col-sm-3 control-label">Time recorded</label>
            <div class="col-sm-3">
              <select id="insulinLevelTime" class="form-control">

              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="spacer text-right">
                <button type="submit" class="btn btn-space btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
var date = Date.now()

for(var i = 0; i < 10; i++){

  date2 = new  Date(date - 900000*i)
  //date = date.getHours()
  hours = date2.getUTCHours()
  minutes = date2.getUTCMinutes()
  if(minutes < 10){
    minutes = "00"
  }
  $('#insulinLevelTime').append('<option>'+ hours + ':'+ minutes+'</option>');
  $('#bloodSugarLevelTime').append('<option>'+ hours + ':'+ minutes+'</option>');
}

</script>
