
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Horizontal Form</h3>
      </div>
      <div class="panel-body">
        <form role="form" class="form-horizontal">
          <div class="form-group">
            <label for="bloodSugarLevel" class="col-sm-2 control-label">Insulin</label>
            <div class="col-sm-7">
              <input id="bloodSugarLevel" type="email" placeholder="Email" class="form-control">
            </div>
            <div class="col-sm-1">
              units
            </div>
            <div class="col-sm-2">
              Time here box
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="spacer text-right">
                <button type="submit" class="btn btn-space btn-primary">Registrer</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Horizontal Form</h3>
      </div>
      <div class="panel-body">
        <form role="form" class="form-horizontal">
          <div class="form-group">
            <label for="insulinLevel" class="col-sm-2 control-label">Insulin</label>
            <div class="col-sm-7">
              <input id="insulinLevel" type="email" placeholder="Email" class="form-control">
            </div>
            <div class="col-sm-1">
              units
            </div>
            <div class="col-sm-2">
              Time here box
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="spacer text-right">
                <button type="submit" class="btn btn-space btn-primary">Registrer</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
