[user]
    email = deploy@sugarnanny.tech
    name = sugarnanny
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --color --pretty=format:\"%h %ad | %s%x1b[32m%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
[color]
    ui = true
[core]
    autocrlf = input