<div class="col-md-12">
  <div class="panel panel-alt3">
    <div class="panel-heading">
      <span class="title">What is Sugar Nanny?</span>
    </div>
    <div class="panel-body">
      <p>Diabetes affects millions of people worldwide, Sugar Nanny is a web application intended to aid those suffering from diabetes. Just like how a spoon full of sugar <em>helps the medicine go down</em>, Sugar Nanny helps with regulating your blood sugar and taking insulin when needed.</p>
      <p>Sugar Nanny was started as the result of the daily struggle our friends have, whom suffer from both Type I and Type II diabetes. Often they have challenges maintaining a healthy blood sugar level, and making a habit of checking their blood sugar regularly.</p>
      <p>We hope that Sugar Nanny will help impact your life and make a difference, the same way that it has for our friends. Think of it as your personal nanny, keeping track of your health and reminding you to check your blood sugar regularly.</p>
    </div>
  </div>
</div>