<!-- Calories
Fat
Cholesterol
Sodium
Carbohydrates
Fibre
Sugar
Protein -->

<table id="table2" class="table table-striped table-hover table-fw-widget">
<div class="col-sm-6"><div id="table2_length" class="dataTables_length"></div></div><div class="col-sm-12"><div class="dataTables_filter" id="table2_filter"><label>
  <tbody>
      <tr>
        <td>Fat {{foodInformation.Fat }}</td>
        <td>Cholesterol {{ foodInformation.Cholesterol }}</td>
        <td>Sodium {{ foodInformation.Sodium }}</td>
      </tr>
      <tr>
        <td>Carbohydrates {{ foodInformation.Carbohydrates }}</td>
        <td>Fibre {{ foodInformation.Fibre }}</td>
        <td>Sugar {{ foodInformation.Sugar }}</td>
      </tr>
      <tr>
        <td>Calories {{ foodInformation.Calories }}</td>
        <td>Protein {{ foodInformation.Protein }}</td>
      </tr>

  </tbody>
</table>
