<div class="row">
<div class="col-sm-12">
  <div class="widget widget-fullwidth widget-small">
    <div class="widget-head">
      <div class="title">Meals</div>
    </div>
      <div class="col-sm-6"><div id="table1_length" class="dataTables_length"></div></div><table id="table1" class="table table-striped table-hover table-fw-widget">
      <thead>
        <tr>
          <th> Time </th>
          <th> Food </th>
          <th> Fat </th>
          <th> Calories </th>
          <th> Sodium </th>
          <th> Carbohydrates </th>
          <th> Fibre </th>
          <th> Sugar </th>
          <th> Protein </th>
          <th> Serving (100g)</th>
        </tr>
      </thead>
        <tbody>
            <tr ng-repeat="meals in mealsHistory">
              <td>{{ meals.timestamp }}</td>
              <td>{{ meals.product_name }}</td>
              <td>{{ meals.fat }}</td>
              <td>{{ meals.calories }}</td>
              <td>{{ meals.sodium }}</td>
              <td>{{ meals.carbs }}</td>
              <td>{{ meals.fibre }}</td>
              <td>{{ meals.sugar }}</td>
              <td>{{ meals.protein }}</td>
              <td> {{meals.servings}}</td>
            </tr>
        </tbody>
      </table>
  </div>
</div>
</div>

<div class="row">
    <div class="col-sm-6">
      <div class="widget widget-fullwidth widget-small">
        <div class="widget-head">
          <div class="title">Blood Sugar Level</div>
        </div>
        <table id="table2" class="table table-striped table-hover table-fw-widget">
        <div class="col-sm-6"><div id="table2_length" class="dataTables_length"></div></div>
          <thead>
            <tr>
              <th>Time</th>
              <th>Blood Sugar Level</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="sugar in sugarData">
              <td>{{ sugar.timestamp }}</td>
              <td>{{ sugar.reading }} mmol/L</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="widget widget-fullwidth widget-small">
        <div class="widget-head">
          <div class="title">Insulin Intake</div>
        </div>
        <table id="table1" class="table table-striped table-hover table-fw-widget">
        <div class="col-sm-6"><div id="table2_length" class="dataTables_length"></div></div><div class="col-sm-6"></div>
          <thead>
            <tr>
              <th>Time</th>
              <th>Number of Units of Insulin</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ins in insulinIntake">
              <td>{{ins.timestamp}}</td>
              <td>{{ins.dose_units}} units</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
