Hi {{ first_name }} {{ last_name }},

You have requested a password reset for your Sesh account.

Please follow the below link to set a new password:
{{ reset_link }}

Alternatively, you can use the following code:
{{ reset_token }}
to reset your password at the link {{ manual_reset_link }}.
