Hi {{ first_name }} {{ last_name }},

Thank you for registering for a Sesh account!

Please follow the below link to confirm your email:
{{ confirm_link }}

Alternatively, you can use the following code:
{{ email_confirm_uuid }}
to confirm you email at the link {{ manual_confirm_link }}.
